In [ ]:
CREATE DATABASE AirlinesData;
GO
USE AirlinesData
GO
CREATE SCHEMA csv;

Now create external table for airlines.csv

In [ ]:
CREATE EXTERNAL DATA SOURCE [SqlStoragePool]
            WITH (LOCATION = N'sqlhdfs://controller-svc/default');

In [ ]:
CREATE EXTERNAL FILE FORMAT [FileFormat_csv]
            WITH (FORMAT_TYPE = DELIMITEDTEXT, FORMAT_OPTIONS (FIELD_TERMINATOR = N',', STRING_DELIMITER = N'"', FIRST_ROW = 2));

In [ ]:
CREATE EXTERNAL TABLE [csv].[airlines]
        (
            [Airline_ID] smallint NOT NULL,
            [Name] varchar(100) NOT NULL,
            [Alias] varchar(50) NOT NULL,
            [IATA] varchar(5),
            [ICAO] varchar(10),
            [Callsign] varchar(100),
            [Country] varchar(10),
            [Active] char(1)
        )
        WITH (LOCATION = N'/Airlines/csv/airlines.csv', DATA_SOURCE = [SqlStoragePool], FILE_FORMAT = [FileFormat_csv]);

In [ ]:
DROP EXTERNAL TABLE [csv].[airlines]

Query the table

In [ ]:
select TOP (100) * from [csv].[airlines];

In [ ]:
CREATE INDEX IX_NAME on [csv].[airlines] (Name);

In [ ]:
UPDATE [csv].[airlines]
SET [Name] = 'Bob'
WHERE Airline_ID = 1

In [ ]:
SELECT *
FROM [csv].[airlines]
WHERE Country = 'Belgium' AND Active = 'Y';